<div class="content-header">
  
  <div class="title">
    <i class="icon-tasks"></i>
    {{campaign.name}}

  </div>

  <div class="content-options">
    <a class="button" href="#">
      <i class="icon-download"></i>
      Download Files
    </a>
  </div>

</div>


<div class="data">

  {{#campaigns}}

  <div class="campaign" data-id="{{id}}" data-enabled="{{enabled}}">
    <a href="/campaigns/{{id}}">
      <div class="icon">
        <i class="icon-star"></i>
      </div>
      <div class="name"><span class='ctitle'>{{name}}</span></div>
      <div class="timestamp">
        {{createdAt}}
      </div>
    </a>

    <div class="options">
      <div class="remove">
        <span>Remove</span>
      </div>
    </div>
  </div>

  {{/campaigns}}

</div>
